<h1><%= initiative.title %></h1>
<p><%= initiative.description %></p>
<div
  id="signs-react-app"
  data-ong-id="<%= ong.id %>"
  data-initiative-id="<%= initiative.id %>"
>
</div>
<% if (news && news.length) { %>
  <div class="related-news">
    <h2>Noticias relacionadas (powered by The Guardian)</h2>
    <ul>
      <% news.forEach((article) => { %>
        <li><a href="<%= article.webUrl %>"><%= article.webTitle %></a></li>
      <% }) %>
    </ul>
  </div>
<% } %>
